<template>
  <div id="candidateContainer">
    <template v-for="c in candidates">
      <Candidate :key="c.Id" :candidate="c" />
    </template>
  </div>
</template>

<script>
import Candidate from './Candidate.vue';

import sortFunctions from '../js/sortFunctions';
import EventBus from '../js/EventBus';

export default {
  name: 'CandidateContainer',
  components: {
    Candidate,
  },
  mixins: [
    sortFunctions,
  ],
  props: {
    candidates: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  mounted() {
    EventBus.$on('sortById', () => {
      this.sortById(this.candidates);
    });
    EventBus.$on('sortByLikesAsc', () => {
      this.sortByLikesAsc(this.candidates);
    });
    EventBus.$on('sortByLikesDesc', () => {
      this.sortByLikesDesc(this.candidates);
    });
    EventBus.$on('sortByAgeAsc', () => {
      this.sortByAgeAsc(this.candidates);
    });
    EventBus.$on('sortByAgeDesc', () => {
      this.sortByAgeDesc(this.candidates);
    });
  },
};
</script>

<style>
#candidateContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
</style>
