<template>
  <div id="candidate" :class="{
      'inactive': candidate.active === false,
      'inactive-candidate': candidate.active === false
    }"
    @dblclick="selectCandidate">
    <svg v-if="candidate.active === false" viewBox="0 0 300 600"
      class="inactive" width="100" height="100">
      <line x1="0" y1="0" x2="310" y2="600" stroke-width="20"
        stroke="gray" stroke-linecap="round" />
      <line x1="0" y1="600" x2="310" y2="0" stroke-width="20"
        stroke="gray" stroke-linecap="round" />
    </svg>
    <template v-if="showLike === true">
      <div class="image-container">
        <div class="instagram-heart">
        </div>
      </div>
    </template>
    <template v-else>
    <img id="candidate-image" width="300px" height="378" alt="candidate Image"
      :src="require(`@/assets/${candidate.Id}.png`)">
    <div id="candidate-info">
      <span>Name: {{candidate.Name}}</span>
      <span>Geburtstag: {{candidate.Geburtstag}}</span>
      <span>Wohnort: {{candidate.Wohnort}}</span>
      <span>Größe: {{candidate.Größe}}</span>
      <span>Beruf: {{candidate.Beruf}}</span>
      <span>Single seit: {{candidate.SingleSeit}}</span>
      <span>Likes: {{candidate.Likes}}</span>
    </div>
    </template>
  </div>
</template>

<script>
import axios from 'axios';
import Vue from 'vue';

export default {
  name: 'Candidate',
  components: {
  },
  props: {
    candidate: {
      type: Object,
      required: false,
      default() {
        return {
        };
      },
    },
  },
  data() {
    return {
      showLike: false,
    };
  },
  methods: {
    selectCandidate(e) {
      e.preventDefault();
      e.stopPropagation();
      if (this.candidate.active === false) {
        return;
      }
      this.showLike = true;
      this.candidate.Likes += 1;
      this.likeCandidate();
      setTimeout(() => {
        this.showLike = false;
      }, 800);
    },
    likeCandidate() {
      axios.put(`http://${process.env.VUE_APP_SERVER_IP}:${process.env.VUE_APP_SERVER_PORT}/candidateLike/${this.candidate.Id}`)
        .then((res) => {
          if (this.isSameCandidate(res.data)) {
            Vue.set(this.candidate, 'Likes', res.data.Likes);
            Vue.set(this.candidate, 'active', res.data.active);
          }
        });
    },
    isSameCandidate(otherCandidate) {
      return Object.entries(this.candidate).every(([key, value]) => otherCandidate[key] === value);
    },
  },
};
</script>

<style>
#candidate {
  margin: 20px 25px 20px 25px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-top-style: none;
  background-color: #fefae0;
  color: #606c38;
}

.inactive-candidate {
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media only screen and (max-width: 720px) {
  #candidate {
    margin: 0;
    margin-bottom: 20px;
  }
}

#candidate-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Like animation based on https://codepen.io/TheCodeCrumbs/pen/OJVPOob */
.image-container {
  width: 100%;
  height: 100%;
  background-color: #FB3958;
  position: relative;
}

.instagram-heart {
  width: 184px;
  height: 162px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition-timing-function: ease-in-out;
  background: url("https://imgur.com/rksyGE8.png") no-repeat center/contain;
  opacity: 0;
  transform: scale(0);
}

.image-container:hover .instagram-heart {
  animation-duration: 1000ms;
  animation-name: like-heart-animation;
  animation-timing-function: ease-in-out;
}

@keyframes like-heart-animation{
  0% { opacity:0; transform:scale(0); }
  15% { opacity:.9; transform:scale(1.2); }
  30% { transform:scale(.95); }
  45%,
  80% { opacity:.9; transform:scale(1); }
}

.inactive {
  position: relative;
  opacity: 0.5;
}
.inactive svg {
  width: 100%;
  height: 100%;
  position: absolute;
}
</style>
