<template>
  <div id="countdown">
    <template v-if="showTime === true">
      <div id="countdown-content-container">
        <span id="countdown-content-text">Nurnoch..</span>
        <b-icon icon="x-circle-fill" variant="danger" @click="hideTime"></b-icon>
      </div>
      <span><b>{{days}}{{hours}} {{minutes}} {{seconds}}</b></span>
    </template>
    <template v-else>
      <b-icon icon="clock-fill" variant="success" @click="showTimeFunc">
      </b-icon>
    </template>
  </div>
</template>

<script>
import EventBus from '../js/EventBus';

export default {
  created() {
    this.countDownInterval = setInterval(() => {
      this.updateDiff();
    }, 1000);
  },
  data() {
    return {
      targetT: new Date(1626286500000).getTime(), // 14.07.21 20:15
      currentT: new Date(Date.now()).getTime(),
      days: 0,
      hours: 0,
      minutes: 0,
      seconds: 0,
      showTime: true,
      countDownInterval: undefined,
    };
  },
  methods: {
    hideTime() {
      this.showTime = false;
    },
    showTimeFunc() {
      this.showTime = true;
    },
    updateDiff() {
      this.currentT = new Date().getTime();
      const timeleft = this.targetT - this.currentT;

      if (timeleft <= 0) {
        EventBus.$emit('hideTime');
        clearInterval(this.countDownInterval);
      }

      this.days = `${Math.floor(timeleft / (1000 * 60 * 60 * 24))} Tage `;
      const hrs = `${Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))}h`;
      this.hours = (hrs.length === 1) ? `0${hrs}` : hrs;
      const mins = `${Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60))}min`;
      this.minutes = (mins.length === 1) ? `0${mins}` : mins;
      const secs = `${Math.floor((timeleft % (1000 * 60)) / 1000)}s`;
      this.seconds = (secs.length === 1) ? `0${secs}` : secs;
    },
  },
};
</script>

<style>
#countdown {
  width: 180px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#countdown-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#countdown-content-text {
  font-size: 12px;
}
</style>
