<template>
  <div id="rose">
    <img alt="Vue logo" height="60px" width="30px" :src="require(`@/assets/rose.jpg`)">
  </div>
</template>

<script>
export default {
  name: 'Rose',

};
</script>

<style>
#rose {
  margin-top: 20px;
  width: 30px;
  height: 60px;
  /* border: 5px solid black;
  border-radius: 3px; */
}
</style>
