<template>
  <div id="server-not-reachable">
    <h2>Ich habe heute leider keine Rose für dich...</h2>
    <div>
      <br>
      <h1>404</h1>
      <h4>Der Server ist nicht erreichbar..</h4>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ServerNotReachable',
};
</script>

<style>
#server-not-reachable {
  padding: 0 20px;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
</style>
