<template>
  <div id="sortbar">
    <div id="sort-dropdown">
      <b-dropdown id="dropdown-buttons" size="sm" text="Sortieren nach.." class="m-2">
        <b-dropdown-item-button @click="sortById()">
          <div class="sortItem">
            <span>Standard</span>
          </div>
        </b-dropdown-item-button>

        <b-dropdown-divider></b-dropdown-divider>

        <b-dropdown-item-button @click="sortByLikesAsc()">
          <div class="sortItem">
            <span>Likes&nbsp;</span>
            <b-icon font-scale="0.8" icon="caret-up-fill" aria-hidden="true"></b-icon>
          </div>
        </b-dropdown-item-button>
        <b-dropdown-item-button @click="sortByAgeAsc()">
          <div class="sortItem">
            <span>Alter&nbsp;</span>
            <b-icon font-scale="0.8" icon="caret-up-fill" aria-hidden="true"></b-icon>
          </div>
        </b-dropdown-item-button>
        <b-dropdown-item-button @click="sortByDistanceAsc()" disabled>
          <div class="sortItem">
            <span>Entfernung (Karlsruhe)&nbsp;</span>
            <b-icon font-scale="0.8" icon="caret-up-fill" aria-hidden="true"></b-icon>
          </div>
        </b-dropdown-item-button>

        <b-dropdown-divider></b-dropdown-divider>

        <b-dropdown-item-button @click="sortByLikesDesc()">
          <div class="sortItem">
            <span>Likes&nbsp;</span>
            <b-icon font-scale="0.8" icon="caret-down-fill" aria-hidden="true"></b-icon>
          </div>
        </b-dropdown-item-button>
        <b-dropdown-item-button @click="sortByAgeDesc()">
          <div class="sortItem">
            <span>Alter&nbsp;</span>
            <b-icon font-scale="0.8" icon="caret-down-fill" aria-hidden="true"></b-icon>
          </div>
        </b-dropdown-item-button>
        <b-dropdown-item-button @click="sortByDistanceDesc()" disabled>
          <div class="sortItem">
            <span>Entfernung (Karlsruhe)&nbsp;</span>
            <b-icon font-scale="0.8" icon="caret-down-fill" aria-hidden="true"></b-icon>
          </div>
        </b-dropdown-item-button>
      </b-dropdown>
    </div>
  </div>
</template>

<script>
import EventBus from '../js/EventBus';

export default {
  name: 'SortBar',
  props: {
    likes: {
      type: Array,
      requred: false,
      default: () => [],
    },
  },
  methods: {
    sortById() {
      EventBus.$emit('sortById');
    },
    sortByLikesAsc() {
      EventBus.$emit('sortByLikesAsc');
    },
    sortByLikesDesc() {
      EventBus.$emit('sortByLikesDesc');
    },
    sortByAgeAsc() {
      EventBus.$emit('sortByAgeAsc');
    },
    sortByAgeDesc() {
      EventBus.$emit('sortByAgeDesc');
    },
  },
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
#sortbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#sort-dropdown {
  margin-top: -10px;
}
.sortItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sortItem svg {
  height: 100%;
}
</style>
