<template>
  <div id="top">
    <h1 id="main-title" class="top-item">Die Bachelorette 2021</h1>
    <SortBar class="top-item" :likes="[]" />
    <CountDown v-if="showCountDown === true" class="top-item" />
  </div>
</template>

<script>
import EventBus from '../js/EventBus';
import CountDown from './CountDown.vue';
import SortBar from './SortBar.vue';

export default {
  name: 'Top',
  components: {
    CountDown,
    SortBar,
  },
  data() {
    return {
      showCountDown: true,
    };
  },
  created() {
    EventBus.$on('hideTime', () => {
      this.showCountDown = false;
    });
  },
};
</script>

<style>
#top {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#main-title {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  #top {
    flex-direction: column;
  }
  #main-title {
    font-size: 24px;
  }
}
</style>
