<template>
  <div id="app">
    <Top />
    <template v-if="serverReachable === true">
      <CandidateContainer :candidates="candidates" />
    </template>
    <template v-else>
      <ServerNotReachable />
    </template>
  </div>
</template>

<script>
import axios from 'axios';
import Top from './components/Top.vue';
import CandidateContainer from './components/CandidateContainer.vue';
import ServerNotReachable from './components/ServerNotReachable.vue';

export default {
  name: 'App',
  components: {
    Top,
    CandidateContainer,
    ServerNotReachable,
  },
  created() {
    if (process.env.VUE_APP_SERVER_IP !== undefined
    && process.env.VUE_APP_SERVER_PORT !== undefined) {
      this.requestCandidates();
    }
  },
  data() {
    return {
      candidates: [],
      serverReachable: true,
      retryInterval: undefined,
    };
  },
  watch: {
    serverReachable(newVal) {
      if (newVal === false) {
        this.tryToConnectToServer();
      }
    },
  },
  methods: {
    requestCandidates() {
      axios.get(`http://${process.env.VUE_APP_SERVER_IP}:${process.env.VUE_APP_SERVER_PORT}/`)
        .then((res) => {
          if (res !== undefined && res.data !== undefined && res.data.candidates !== undefined) {
            this.candidates = res.data.candidates;
            if (this.serverReachable === false) {
              clearInterval(this.retryInterval);
              this.serverReachable = true;
            }
          } else {
            throw new Error();
          }
        }).catch((reason) => {
          console.warn('Failed to get Candidates from Server, REASON:', reason);
          this.serverReachable = false;
        });
    },
    tryToConnectToServer() {
      this.retryInterval = setInterval(() => {
        this.requestCandidates();
      }, 3000);
    },
  },
};
</script>

<style>
* {
  margin: 0;
  padding: 0;
}

#app {
  background: rgba(0, 128, 0, 0.1);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
